@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
  font-family: 'Montserrat', sans-serif;
}

body {
  box-sizing: border-box;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #1C203B;
}

body::-webkit-scrollbar {
  width: 5px;
  border-radius: 20px;
}

body::-webkit-scrollbar-thumb {
  width: 18px;
  background-color: #68E7E7;
  border-radius: 20px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}